/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EDE6D9;
}

.wrapper {
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 30px;
  background: #342519;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form.login{
  width: 100%;
  background: #342519;
  padding: 30px;
  border-radius: 12px;
}

.form header {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.wrapper.active .form.login header {
  opacity: 1;
}

.wrapper.active .signup header {
  opacity: 0.6;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

form input {
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
}

.form.login input {
  border: 1px solid #aaa;
}

.form.login input:focus {
  box-shadow: 0 1px 0 #ddd;
}

form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: #fff;
  cursor: pointer;
}

form .checkbox label {
  cursor: pointer;
  color: #fff;
}

form a {
  color: #fff;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

form input[type="submit"] {
  margin-top: 15px;
  padding: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.form.login input[type="submit"] {
  background: #fff;
  color: #342519;
  border: none;
}

.form.signup{
  width: 100%;
}

.alert{
background: #e44e4e;
color: white;
padding: 10px;
text-align: center;
border:1px solid #b32929;
}


#message{
background: #ff4e4e;
color: white;
text-align: center;
margin-top: 20px;
}


#alertBox{
position: fixed;
top: 20px;
left: 50%;
transform: translateX(-50%);
z-index: 999;
}

.switch-link{
text-align:center;
margin-top:15px;
color:white;
}

.switch-link a{
color:#E8D1A7;
text-decoration:none;
font-weight:600;
}

.switch-link a:hover{
text-decoration:underline;
}
